<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClassOpsLogCreator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <ClassOpsLogCreator.Properties.Settings>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="startHour1" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="endHour1" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="am_pmCombo1_1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="am_pmCombo1_2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="numberOfShiftsCombo1" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="startHour2" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="endHour2" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="am_pmCombo2_1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="am_pmCombo2_2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="numberOfShiftsCombo2" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="startHour3" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="endHour3" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="am_pmCombo3_1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="am_pmCombo3_2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="numberOfShiftsCombo3" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="startHour4" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="endHour4" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="am_pmCombo4_1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="am_pmCombo4_2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="numberOfShiftsCombo4" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="saveCheckedBoxState" serializeAs="String">
                <value>False</value>
            </setting>
        </ClassOpsLogCreator.Properties.Settings>
    </userSettings>
</configuration>